/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #f56c6c;
    background-color: #8c4d4d;
}

/* Header Styles */

header {
    background-color: #333;
    color: #dbcece;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #cf6969;
    text-decoration: none;
}

/* Home Styles */

#home {
    background-image: linear-gradient(to bottom, #a88787, #cc9a9a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home h1 {
    font-size: 48px;
    color: #333;
}

#home p {
    font-size: 24px;
    color: #575656;
}

/* About Styles */

#about {
    padding: 20px;
    background-color: #f6cdcd;
}

#about h1 {
    font-size: 36px;
    color: #333;
}

#about p {
    font-size: 24px;
    color: #666;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* Portfolio Styles */

#portfolio {
    padding: 20px;
    background-color: #f4aaaa;
}

#portfolio h1 {
    font-size: 36px;
    color: #333;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    margin: 20px;
    width: calc(33.33% - 20px);
}

.portfolio-item img {
    width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.portfolio-item h2 {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.portfolio-item p {
    font-size: 18px;
    color: #666;
}

/* Contact Styles */

#contact {
    padding: 20px;
    background-color: #f4c1c1;
}

#contact h1 {
    font-size: 36px;
    color: #333;
}

#contact-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #f9c4c4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fb8585;
}

#contact-form input[type="submit"] {
    background-color: #eda9a9;
    color: #585656;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form input[type="submit"]:hover {
    background-color: #f79090;
}

/* Footer Styles */

footer {
    background-color: #5a5858;
    color: #f47070;
    padding: 10px;
    text-align: center;
    clear: both;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
    /* For tablets and small desktops */
    .portfolio-item {
        width: calc(50% - 20px);
    }
}

@media only screen and (max-width: 480px) {
    /* For mobile phones */
    .portfolio-item {
        width: 100%;
    }
    #contact-form {
        margin: 20px 10px;
    }
}

